.Login {
    text-align: center;
    background-color: #F2F2F2;
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }

.Button {
  background-color: #4D96CC;
  font-family: 'Lato';
  font-weight: bold;
  border-radius: 70px;
  color: #F6F6F6;
  width: 170px;  
}

.Links{
    color:#40BBF2;
    font-family: 'Lato';
    font-weight: bold;
}