.Login {
    text-align: center;
    background-color: #F2F2F2;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }

.SignUp{
    color: blue;
}